* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background-color: cadetblue;
}

.container {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.yellow-bar {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.red-box {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    font-size: 2em;
}